/* .redirect {
  height: 2.5rem;
  width: 22rem;
  font-size: 20px;
} */
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap");

* {
  font-family: "Hedvig Letters Sans", sans-serif;
  background-color: rgb(234, 234, 234);
}

.container {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.redirect,
.redirect-error,
.btn-generate,
.btn-analytics-disabled,
.btn-analytics {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
}

.redirect {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}
.redirect-error {
  border: 2px solid rgb(255, 0, 0);
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}

.btn-generate {
  border: 1px solid rgb(136, 136, 136);
  background-color: rgb(44, 151, 238);
  border-radius: 0 6px 6px 0;
  transition: 0.3s;
}

.btn-analytics {
  margin-left: 1rem;
  border: 1px solid rgb(136, 136, 136);
  background-color: rgb(44, 151, 238);
  border-radius: 6px 6px 6px 6px;
  transition: 0.3s;
}

.btn-generate:hover {
  background-color: rgb(108, 178, 235);
}

.btn-generate:active {
  background-color: rgb(5, 120, 214);
}

.btn-analytics:hover {
  background-color: rgb(108, 178, 235);
}

.btn-analytics:active {
  background-color: rgb(5, 120, 214);
}

.btn-analytics-disabled {
  margin-left: 1rem;
  border: 1px solid rgb(136, 136, 136);
  background-color: rgb(44, 151, 238);
  border-radius: 6px 6px 6px 6px;
}

.link {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.ogLink {
  margin: 0%;
  font-size: 20px;
}

.shortLink {
  margin-top: 3%;
  font-size: 20px;
}

.links {
  font-size: 22px;
  display: flex;
  margin: 1rem;
}

.analytics {
  display: flex;

  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 550;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-container ul > img {
  float: left;
  margin-right: 25px;
  margin-top: 41px;
}

.btn-copy {
  border: 1px solid rgb(136, 136, 136);
  margin-left: 1rem;
  border-radius: 6px 6px 6px 6px;
  background-color: rgb(44, 151, 238);
  height: 32px;
  width: 54px;
  transition: 0.3s;
}

.btn-copy:hover {
  background-color: rgb(108, 178, 235);
}

.btn-copy:active {
  background-color: rgb(5, 120, 214);
}

.clicks {
  margin-bottom: 3%;
}
.createdAt {
  margin: 0%;
}
